/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Whole Page Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(225, 225, 225);
}

body {
  font-family: 'Cormorant', serif;
  background-image: url("/public/eeaao.jpg") ;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
}

/* Title Styling */
h1 {
  text-align: center;
  font-size: 2.5rem;
}

.title-top {
  margin: 5rem 0 1rem 0;
}

.title-bottom {
  margin: 0rem 0 4rem 0;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin: 8rem 0 2rem 0;
}

/* Accordion Styling */
.accordion {
  max-width: 600px;
  margin: 2rem auto;
  font-size: 1.5rem;
  font-weight: 500;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #29592c;
}

.accordion-title:hover {
  background-color: #1e4921;
  transition: all 0.9s ease;
}

/* Style 1 - Square */
/* .accordion-title,
.accordion-content {
  padding: 2rem;
} */


/* Style 2 - Rounded */
.accordion-title,
.accordion-content {
  padding: 2rem;
  border-radius: 5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.accordion-content {
  padding: 3rem;
}

/* .accordion-title:first-child {
  border-radius: 50px 0 0 0;
}

.accordion-title:last-child {

} */

.accordion-content {
  background-color: #1a381c;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .accordion {
    width: 90%;
  }
}


/* Carousel Styling */
.carousel {
  overflow: hidden;
  width: 70%;
  margin: auto;
  margin-bottom: 8rem;
}

.inner {
  transition: transform 0.3s;
  white-space: nowrap;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: rgb(43, 76, 43);
  color: rgb(250, 241, 241);
  width: 100%;
  height: 40rem;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  border-radius: 20px;
}

/* Button Styling */

button {
  border-radius: 100px;
  border: none;
  padding: 0.5rem;
  background-color: rgb(88, 130, 77);
  font-size: 20px;
  margin: 0.5rem;
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators > button.active {
  background-color: rgb(204, 225, 204);
  color: white;
}

.prev {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  padding: 1rem;
  width: 7rem;
}

.next {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  padding: 1rem;
  width: 7rem;
  float: right;
  white-space: nowrap;
overflow-x: auto;
display: inline-block;
}

.progress {
  width: 7px;
  height: 7px;
  margin-top: 1.5rem;
  display: inline-block;
}

/* Carousel nth item backgrounds */
.first {
  background-image: url("/eeaao3.jpg");
}

.second {
  background-image: url("/eeaao4.jpg");
}

.third {
  background-image: url("/eeaao1.jpg");
}

.fourth {
  background-image: url("/eeaao.jpg");
}